encryption = "age"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age123w0e9rwm4203lpufl9r2stfgeaplncz00vnlz6qwnllndr803pqavnv99"

[edit]
    command = "code"
    args = ["--wait"]

[scriptEnv]
    UNIX_SHELL = "bash"
    WINDOWS_SHELL = "powershell"
